name: On Push

on:
  push:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build .
      
      - name: Run tests
        run: ./bin/tests
